<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  
</style>
<!-- 用来显示数量 -->
<p>数量 {{num}}</p>
<!-- 创建了一个自定义的组件 这里前俩是父给子的参数 第三个参数是子调用父方法 -->
  <!-- $event在这里是自定义事件对象，接收到的是子组件内部发布事件传递的数据 -->
<app-mycomponent #child [hello]="hello" [world]="world" (onVoted)="onVoted($event)"></app-mycomponent>
<br/>
<button (click)="say(child.giao)">测试输出子参数</button>
<button (click)="child.saygiao()">测试saygiao</button>
<router-outlet></router-outlet>
