<style>
  .red{
    color: red;
    width: 20px;
    height: 20px;
  }
  .blue{
    color: blue;
    width: 20px;
    height: 20px;
  }
</style>

<!-- 参数模板 -->
<p>{{msg1}}</p>
<p [innerHTML]="msg2"></p>

<!-- 样式模板 -->
<img [src]="img" /><br />
<button [disabled]="isDisabled">无效按钮</button>

<!-- js表达式 -->
<!-- 如果 isButtonDisabled 的值是 null、undefined 或 false，则 disabled 特性甚至不会被包含在渲染出来的 <button> 元素中 -->
<p>{{isDisabled?"giao1":"giao2"}}</p>

<!-- 列表渲染 -->
<ul>
  <li *ngFor="let item of list;let i=index">{{i}}-{{item}}</li>
</ul>

<!-- 条件渲染 -->
<p *ngIf="isShow">显示1</p>
<!-- [ngIf]和ng-template搭配使用 -->
<ng-template [ngIf]="isShow">显示2</ng-template>
<div [ngSwitch]="num">
  <div *ngSwitchCase="1">1</div>
  <div *ngSwitchCase="2">2</div>
  <div *ngSwitchDefault>other</div>
</div>

<!-- 事件处理 -->
<button (click)="giao()">点击</button>
<p>{{ put }}</p>

<!-- 双向绑定 -->
<input type="text" [(ngModel)]="put"/>
<!-- 复选框 -->
<h3>单选框</h3>
<input type="checkbox" [(ngModel)]="seen">
<div class="box" *ngIf="seen">1</div>
<!-- 单选框 -->
<input type="radio" [value]="0" [(ngModel)]="gender"> 男
<input type="radio" [value]="1" [(ngModel)]="gender"> 女
<p>选中了：{{ gender }}</p>
<!-- 下拉列表 -->
<select [(ngModel)]="hobby">
  <option [value]="0">吃饭</option>
  <option [value]="1">睡觉</option>
  <option [value]="2">打豆豆</option>
</select>
<p>选中的爱好：{{ hobby }}</p>

<!-- 条件类名 -->
<div [ngClass]="{
  'red':true,
  'blue':false
}">测试文本</div>

<!-- 条件样式 -->
<button [style.color]="true ? 'red': 'green'">Red</button>
<button [style.font-size.em]="true ? 3 : 1" >Big</button>
<router-outlet></router-outlet>